footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    font-size: 1.25rem;
}

button {
    background-color: initial;
    color: initial;
    border: initial;
    /* Egyéb tulajdonságok, amiket vissza szeretnél állítani */
  }

body {
    background-color: var(--off-black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78.3vh;
    flex-direction: column;
    border-radius: 20px;
}

main img {
    border-radius: 100%;
}

main h1 {
    padding-bottom: 0;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

main h2 {
    color: var(--green);
    padding-top: -10rem;
    font-size: 1.1rem;
}

main p {
    font-size: 1rem;
}

.text {
    text-align: center;
    padding-bottom: 1rem;
}

.btn {
    cursor: pointer;
    transition: transform 0.3s; 
    font-weight: bold;
    color: var(--white);
    padding: 1rem 0 1rem 0;
    width: 27rem;
    background-color: var(--grey);
    border-radius: 15px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--green);
    color: var(--off-black);
}

.btn-box {
    padding-bottom: 1rem;    
}

.btn-container {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 605px) {

    
    .btn {
        width: 15rem;

    }
}